@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
}

body {
  background-color: #2c3e50;
  color: #f2f2f2;
}

#main-container {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 5px solid #2c3e50;
  height: 275px;
  width: 750px;
  margin: 0 auto;
  text-align: center;
}

#foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#btn {
  margin: 50px auto;
  height: 5em;
  width: 15em;
}
